<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wslerz.androidproject">

    <application
        android:name="debug.HomeApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="主页"
        tools:replace="android:label"
        android:theme="@style/AppTheme">
        <activity android:name="debug.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
